.place__title {
  color: #FFFFFF;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 7.031vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 44px;
    line-height: 46px;
    transition: font-size ease 0.3s;
  }
}

@media screen and (max-width: 680px) {
  .place__title {
    margin-left: 16px;
    grid-column: 1;
    grid-row: 1;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.1;
    margin: 0 16px 0;
  }
}
