.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  transition: gap ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .places {
    gap: 0;
  }
}

@media screen and (max-width: 680px) {
  .places {
    row-gap: 50px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin-bottom: 66px;
  }
}
