.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  transition: gap ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    row-gap: 50px;
  }
}
