.page__header {
  margin: 28px auto 0;
  transition: margin-top ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-top: 28px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }
}
