@font-face {
  font-family: 'Inter var';
  src: local('Inter var'),
    url(./founts/Inter.var.woff2);
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter var', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.page__header {
  margin: 28px auto 0;
}

.page__content {
  margin: 56px 0 92px;
}

.page__footer {
  margin: 0 auto 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100% - 6rem);
  max-height: 52px;
}

.header__logo {}

.logo {
  object-fit: contain;
  width: 178px;
  height: 52px;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 18px;
}

.header__lang-link_ru:lang(ru) {
  text-decoration: underline;
}

.header__lang-link_en:lang(en) {
  text-decoration: underline;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 92px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.content__into {
  margin: 0 auto 0;
}

.content__photo-grid {
  margin: 0 auto 0;
}

.content__places {
  margin: 0 auto 0;

}

.content__cover {
  margin: 0 auto;
}

.lead {
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 720px;
  max-height: 200px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  display: inline;
}

.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 64px;
  color: #FFFFFF;
}

.lead__title-image {
  display: grid;
  grid-template-columns: minmax(320px, 984px);
  grid-template-rows: minmax(200px, 615px);
}

.lead__image {
  width: 100%;
  height: 100%;
}

.lead__caption {
  max-width: 984px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0 0;
}

.into {
  max-width: 984px;
  display: flex;
}

.into__content {
  align-self: flex-start;
}

.into__empty-space {
  width: 100%;
  margin-right: calc((100vw - 1080px) + 353px);
}

.into__title {
  color: #FFFFFF;
  font-size: 54px;
  line-height: 1.1;
  margin: 0 0 40px;
  font-weight: 900;
}

.into__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 163%;
  width: 690px;
  margin: 0 0 33px;
}

.into__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.into__result {
  font-weight: 400;
}

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 18px * 3) / 4));
  grid-template-rows: repeat(3, calc((100% - 18px * 2) / 3));
  gap: 18px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

.places {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px
}

.place {
  display: grid;
  gap: 40px;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
  grid-template-rows: max-content max-content;
}

.place__title {
  color: #FFFFFF;
  line-height: 76px;
  font-size: 72px;
  max-width: 460px;
  margin: 0;
}

.place__image {
  max-width: 100%;
  grid-row: 2 / -1;
}

.place__website {
  align-self: flex-end;
}

.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.place__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover {
  opacity: .8;
}

.place__text {
  grid-row: 2 / -1;
}

.place__paragraph {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  grid-column: 2;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  display: grid;
  grid-template-columns: minmax(320px, 1184px);
  position: relative;
}


.cover__image {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #2A2C2F;
  position: absolute;
  opacity: .3;
  grid-row: 1;
  grid-column: 1;
}

.cover__overlay:hover {
  opacity: 0.8;
}

.cover__text {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.cover__title {
  color: #FFFFFF;
  font-size: 4.5em;
  line-height: 1em;
  text-align: center;
  max-width: 560px;
  margin: 0 0 32px;
}

.cover__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 0;
}

.footer {
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: .8;
}

.footer__copyright {
  color: #FFFFFF;
  margin: 0;

}


@media screen and (max-width: 1024px) {
  .page__content {
    margin-top: 48px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__title-image {
    grid-template-columns: minmax(320px, 928px);
    grid-template-rows: minmax(200px, 580px);
  }

  .into__empty-space {
    margin-right: calc((100vw - 1080px) + 294px);
  }

  .photo-grid {
    grid-template-columns: repeat(3, calc((100% - 14px * 2) / 3));
    grid-template-rows: repeat(4, calc((100% - 14px * 3) / 4));
    gap: 14px;
    max-width: calc(100% - 6rem);
  }

  .places {
    max-width: 928px;
  }

  .place {
    gap: 48px 32px;
  }
}


@media screen and (max-width: 768px) {

  .header {
    width: calc(100% - 3rem);
  }

  .content {
    gap: 88px;
  }

  .lead__title-image {
    grid-template-columns: minmax(320px, 768px);
    grid-template-rows: minmax(200px, 480px);
  }

  .into__empty-space {
    width: 0;
    margin-right: 0;
  }

  .into__text {
    width: auto;
    max-width: 720px;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, calc((100% - 16px) / 2));
    grid-template-rows: repeat(6, calc((100% - 16px *5) / 6));
    gap: 16px;
  }

  .places {
    max-width: 720px;
    column-gap: 28px;
  }

  .footer {
    width: calc(100% - 3rem);
  }


}

@media screen and (max-width: 665px) {

}


@media screen and (max-width: 320px) {

  .page__header {
    margin-top: 16px;
  }

  .header {
    width: calc(100% - 2rem);
  }

  .header__logo {
    width: 142px;
    height: 42px;
    object-fit: cover;
  }

  .lead__title-image {
    grid-template-columns: 320px;
    grid-template-rows: 200px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .page__content {
    gap: 64px;
    margin-bottom: 64px;
  }

  .content__into {
    margin: 0 16px 0;
  }

  .into__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
  }

  .into__text {
    font-size: 16px;
    line-height: 26.08px;
  }

  .into__list {
    font-size: 12px;
    line-height: 1.5;
  }

  .photo-grid {
    max-width: calc(100% - 2rem);
    margin: 0 16px 0;
    gap: 12px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 216px);
  }

  .places {
    max-width: 320px;
  }

  .place {
    grid-template-columns: 320px;
    gap: 32px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.1;
    grid-column: 1;
    grid-row: 1;
    margin: 0 16px 0;
  }

  .place__website {
    grid-column: 1;
    grid-row: 2;
    margin: 0 16px 0;
  }

  .place__image {
    grid-column: 1;
    grid-row: 3;
  }

  .place__text {
    grid-column: 1;
    grid-row: 4;
    margin: 0 16px 0;
  }

  .place__paragraph {
    margin-bottom: 25px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.1;
  }

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.1;
  }

  .footer {
    height: 310px;
    width: calc(100% - 2rem);
    flex-direction: column;

  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
