.header {
  max-width: 1184px;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Для плавного изменения margin с 48px до 24px*/
@media screen and (max-width: 816px) {
  .header {
    width: calc(100% + (816px - 100% - 96px));
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 3rem);
  }
}

/* Для плавного изменения margin с 24px до 16px*/
@media screen and (max-width: 336px) {
  .header {
    width: calc(100% + (336px - 100% - 48px));
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 2rem);
  }
}
