.content__photo-grid {
  margin: 0 auto 92px;
  transition: margin ease-in-out 0.3s;
}

@media screen and (max-width: 816px) {
  .content__photo-grid {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .content__photo-grid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}
