.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 32px;
  transition: margin ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 1.041666667;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
  }
}
