 @font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;

   src: local("Inter-Regular"),
     url(./founts/Inter-Regular.woff2) format("woff2"),
     url(./founts/Inter-Regular.woff) format("woff");
 }

 @font-face {
   font-family: 'Inter';
   font-weight: 900;

   src: local("Inter-Black"),
     url(./founts/Inter-Black.woff2) format(woff2),
     url(./founts/Inter-Black.woff) format(woff);
 }

 @font-face {
   font-family: 'Inter';
   font-style: bold;
   font-weight: 700;

   src: url('./founts/Inter-Bold.woff2') format('woff2'),
     url('./founts/Inter-Bold.woff') format('woff');
 }
