.cover__text {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
