.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
  color: #FFFFFF;
  transition: margin ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    font-size: 5vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
