.cover__overlay {
  background: linear-gradient(rgba(42, 44, 47, .3), rgba(42, 44, 47, .3)),
  url('../../../images/cover-trains.jpg') center/cover no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1.6 / 1;
}

.cover__overlay:hover {
  background: linear-gradient(rgba(42, 44, 47, .8), rgba(42, 44, 47, .8)),
  url('../../../images/cover-trains.jpg') center/cover no-repeat;
}
