.cover__overlay {
  display: block;
  text-decoration: none;
  background-color: rgba(42, 44, 47, .3);
  padding-bottom: 62.5%;

}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}
