.footer__item {
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  transition: margin ease-in-out 0.3s;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item:hover {
  opacity: .8;
}

@media screen and (max-width: 470px) {
  .footer__item {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }
}
