.lead__caption {
  max-width: 984px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  padding-top: 8px;
  transition: margin-left ease-in-out 0.3s;
}

@media screen and (max-width: 816px) {
  .lead__caption {
    margin-left: 24px;
    transition: margin-left ease-in-out 0.3s;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
    transition: margin ease-in-out 0.3s;
  }
}
