.cover__title {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  max-width: 560px;
  margin: 0 0 32px;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 10vw;
    line-height: 109.375%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
