.footer {
  max-width: 1184px;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

@media screen and (max-width: 816px) {
  .footer {
    /* Для плавного изменения margin с 48px на 24px*/
    width: calc(100% + (816px - 100% - 96px));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 470px) {
  .footer {
    flex-direction: column;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    max-width: 188px;
  }
}
