.page__footer {
  margin: 0 auto 24px;
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin-left: 24px;
    margin-right: 24px;
  }

}@media screen and (max-width: 320px) {
  .page__footer {
    margin-left: 16px;
    margin-right: auto;
    margin-bottom: 24px;
  }
}
