.place__website {
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .place__website {
    align-self: auto;
    grid-column: 1;
    grid-row: 2;
    margin: 0 16px 0;
  }
}

@media screen and (max-width: 650px) {
  .place__website {
    margin-left: 16px;
  }
}
